.mediaViewInfo {
	--web-view-name: companysearch;
	--web-view-id: companysearch;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: companysearch;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
