.mediaViewInfo {
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: login;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.login_Class {
	position: absolute;
	width: 1920px;
	height: 1064px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: login;
	--web-view-id: login;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
._277_Class {
	position: absolute;
	width: 1501.288px;
	height: 1064px;
	left: 419px;
	top: 0px;
	overflow: visible;
}
._276_Class {
	position: absolute;
	width: 1501.288px;
	height: 1064px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._117_Class {
	fill: rgba(228,239,244,1);
}
._117 {
	position: absolute;
	overflow: visible;
	width: 1501.288px;
	height: 1064px;
	left: 0px;
	top: 0px;
}
._275_Class {
	position: absolute;
	width: 1501.288px;
	height: 1064px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
._119_es_Class {
	opacity: 0.9;
	fill: url(#_119_es);
}
._119_es {
	mix-blend-mode: screen;
	width: 1501.288px;
	height: 1064px;
	position: absolute;
	overflow: visible;
	transform: translate(-443.712px, 0px) matrix(1,0,0,1,443.7119,0) rotate(180deg);
	transform-origin: center;
}
.AI___Class {
	left: 400px;
	top: 311px;
	position: absolute;
	overflow: visible;
	width: 583px;
	white-space: nowrap;
	text-align: left;
	font-family: Source Han Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(98,121,205,1);
}
.logo_Class {
	position: absolute;
	width: 240px;
	height: 66px;
	left: 400px;
	top: 256px;
	overflow: visible;
}
.__7_Class {
	position: absolute;
	width: 471px;
	height: 111.625px;
	left: 447px;
	top: 574.188px;
	overflow: hidden;
}
.__7_0_Class {
	position: absolute;
	width: 471px;
	height: 36.625px;
	left: 0px;
	top: 3px;
	overflow: visible;
}
.___Class {
	left: 0px;
	top: 1.75px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.___ey_Class {
	left: 75px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 394px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
	background-color: rgba(214,214,214,0);
	padding-left: 25px;
}
input:focus {
	outline: none;
}
._25_Class {
	fill: rgba(214,214,214,1);
}
._25 {
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 2px;
	left: 75px;
	top: 34.625px;
}
.__7_1_Class {
	position: absolute;
	width: 471px;
	height: 36.625px;
	left: 0px;
	top: 63px;
	overflow: visible;
}
._Class {
	left: 0px;
	top: 1.75px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.ID8___Class {
	left: 100px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(214,214,214,1);
}
._25_e_Class {
	fill: rgba(214,214,214,1);
}
._25_e {
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 2px;
	left: 75px;
	top: 34.625px;
}
._283_Class {
	position: absolute;
	width: 471px;
	height: 48px;
	left: 447px;
	top: 699px;
	overflow: visible;
}
._155_Class {
	position: absolute;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
}
._26_Class {
	fill: rgba(98,121,205,1);
}
._26 {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
}
._e_Class {
	/*left: 42px;*/
	/*top: 13px;*/
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	border-radius: 11px;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	/*background-color: rgba(255,255,255,0);*/
	background-color: rgba(98,121,205,1);
}
._154_Class {
	position: absolute;
	width: 130px;
	height: 48px;
	left: 148px;
	top: 0px;
	overflow: visible;
}
._26_e_Class {
	fill: rgba(112,112,112,1);
}
._26_e {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
}
._fa_Class {
	left: 0;
	top: 0;
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	border-radius: 11px;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	/*background-color: rgba(255,255,255,0);*/
	background-color: rgba(112,112,112,1);
}
._156_Class {
	position: absolute;
	width: 175px;
	height: 48px;
	left: 296px;
	top: 0px;
	overflow: visible;
}
._5_Class {
	fill: rgba(112,112,112,1);
}
._5 {
	overflow: visible;
	position: absolute;
	width: 175px;
	height: 48px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
._fd_Class {
	/*left: 33px;*/
	/*top: 13px;*/
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 48px;
	border-radius: 11px;
	cursor: pointer;
	white-space: nowrap;
	text-align: center;
	vertical-align: center;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
	background-color: rgba(112,112,112,1);
}
.__AI___________________________Class {
	left: 400px;
	top: 403.5px;
	position: absolute;
	overflow: visible;
	width: 583px;
	height: 157px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(112,112,112,1);
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.login_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 1920px;
	height: 1064px;
	left: 0;
	top: 0;
}