.mediaViewInfo {
	--web-view-name: pwreset01;
	--web-view-id: pwreset01;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
:root {
	--web-view-ids: pwreset01;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.pwreset01_Class {
	position: absolute;
	width: 591px;
	height: 637px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	cursor: pointer;
	--web-view-name: pwreset01;
	--web-view-id: pwreset01;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-add-image-compare: true;
	--web-enable-deep-linking: true;
	--web-is-overlay: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
._1_Class {
	position: absolute;
	width: 119px;
	height: 38px;
	left: 404px;
	top: 213px;
	overflow: visible;
}
._7_Class {
	fill: rgba(233,233,233,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._7 {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 40px;
	left: 0px;
	top: 0px;
}
._Class {
	left: 18px;
	top: 11.5px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(112,112,112,1);
}
._542_Class {
	position: absolute;
	width: 119px;
	height: 38px;
	left: 404px;
	top: 302px;
	overflow: visible;
}
._7_pl_Class {
	fill: rgba(233,233,233,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
._7_pl {
	position: absolute;
	overflow: visible;
	width: 121px;
	height: 40px;
	left: 0px;
	top: 0px;
}
.___Class {
	left: 42px;
	top: 8.5px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(112,112,112,1);
}
.__Class {
	left: 33px;
	top: 25px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -2px;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(42,42,42,1);
}
._519_Class {
	position: absolute;
	width: 278px;
	height: 48px;
	left: 149px;
	top: 542px;
	overflow: visible;
}
._155_Class {
	position: absolute;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
	overflow: visible;
	cursor: pointer;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: pwreset03.html;
}
._26_Class {
	fill: rgba(98,121,205,1);
}
._26 {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
}
.__pr_Class {
	left: 47px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
._154_Class {
	position: absolute;
	width: 130px;
	height: 48px;
	left: 148px;
	top: 0px;
	overflow: visible;
}
._26_pt_Class {
	fill: rgba(112,112,112,1);
}
._26_pt {
	position: absolute;
	overflow: visible;
	width: 130px;
	height: 48px;
	left: 0px;
	top: 0px;
}
.__pu_Class {
	left: 47px;
	top: 13px;
	position: absolute;
	overflow: visible;
	width: 37px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
._543_Class {
	position: absolute;
	width: 441px;
	height: 34.875px;
	left: 86px;
	top: 151.938px;
	overflow: visible;
}
.___pw_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: right;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.___px_Class {
	left: 78px;
	top: 0.25px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(214,214,214,1);
}
._25_Class {
	fill: rgba(214,214,214,1);
}
._25 {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 2px;
	left: 74px;
	top: 32.875px;
}
._545_Class {
	position: absolute;
	width: 477px;
	height: 34.875px;
	left: 50px;
	top: 222.938px;
	overflow: visible;
}
._p_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 94px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: right;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.___p_Class {
	left: 114px;
	top: 1.25px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(214,214,214,1);
}
._25_p_Class {
	fill: rgba(214,214,214,1);
}
._25_p {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 2px;
	left: 110px;
	top: 32.875px;
}
._547_Class {
	position: absolute;
	width: 446px;
	height: 34.875px;
	left: 81px;
	top: 313.938px;
	overflow: visible;
}
._qa_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: right;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.ID6___Class {
	left: 83px;
	top: 0.25px;
	position: absolute;
	overflow: visible;
	width: 148px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(214,214,214,1);
}
._25_qa_Class {
	fill: rgba(214,214,214,1);
}
._25_qa {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 2px;
	left: 79px;
	top: 32.875px;
}
._549_Class {
	position: absolute;
	width: 482px;
	height: 34.875px;
	left: 45px;
	top: 384.938px;
	overflow: visible;
}
.__p_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: right;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.ID6____Class {
	left: 119px;
	top: 0.25px;
	position: absolute;
	overflow: visible;
	width: 166px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(214,214,214,1);
}
._25_qb_Class {
	fill: rgba(214,214,214,1);
}
._25_qb {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 2px;
	left: 115px;
	top: 32.875px;
}
._551_Class {
	position: absolute;
	width: 482px;
	height: 34.875px;
	left: 45px;
	top: 455.938px;
	overflow: visible;
}
.__qc_Class {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	line-height: 34px;
	margin-top: -8px;
	text-align: right;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(42,42,42,1);
}
.ID8___Class {
	left: 119px;
	top: 0.25px;
	position: absolute;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: KoPubWorldDotum_Pro;
	font-style: normal;
	font-weight: lighter;
	font-size: 16px;
	color: rgba(216,216,216,1);
}
._25_qe_Class {
	fill: rgba(214,214,214,1);
}
._25_qe {
	position: absolute;
	overflow: visible;
	width: 367px;
	height: 2px;
	left: 115px;
	top: 32.875px;
}
.__________Class {
	left: 33px;
	top: 75.5px;
	position: absolute;
	overflow: visible;
	width: 438px;
	height: 46px;
	line-height: 20px;
	margin-top: -2px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(112,112,112,1);
}
.__qg_Class {
	left: 164px;
	top: 264px;
	position: absolute;
	overflow: visible;
	width: 153px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(13,64,230,1);
}
.__qh_Class {
	left: 164px;
	top: 349px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(13,64,230,1);
}
.__qi_Class {
	left: 164px;
	top: 491px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(13,64,230,1);
}
._____6___Class {
	left: 164px;
	top: 421px;
	position: absolute;
	overflow: visible;
	width: 347px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(251,6,6,1);
}
@keyframes fadein {

	0% {
		opacity: 1;
	}
	37.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	87.5% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.pwreset01_snapshot_Class {
	animation: fadein 5s linear 0s infinite;
	pointer-events: none;
	position: absolute;
	width: 591px;
	height: 637px;
	left: 0;
	top: 0;
	cursor: pointer;
}