{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>articlewritesearch</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="articlewritesearch.css"/>
<script id="applicationScript" type="text/javascript" src="articlewritesearch.js"></script>
</head>
<body>
<div id="articlewritesearch" class="articlewritesearch_Class">
	<div data-type="Text" data-name="작성기사" class="_Class">
		<span>작성기사</span>
	</div>
	<div data-type="Symbol" data-name="Navigation_작성기사" class="Navigation_____ Navigation__Class">
		<svg data-type="Rectangle" data-name="사각형 24" class="_24">
			<rect class="_24_Class" rx="0" ry="0" x="0" y="0" width="1920" height="73">
			</rect>
		</svg>
		<svg data-type="Rectangle" data-name="사각형 23" class="_23">
			<rect class="_23_Class" rx="0" ry="0" x="0" y="0" width="1920" height="2">
			</rect>
		</svg>
		<div data-type="Text" data-name="공시데이터" onclick="application.goToTargetView(event)" class="_cww_Class">
			<span>공시데이터</span>
		</div>
		<div data-type="Text" data-name="주식데이터" onclick="application.goToTargetView(event)" class="_cwx_Class">
			<span>주식데이터</span>
		</div>
		<svg data-type="Polygon" data-name="다각형 4" class="_4" viewBox="0 0 22 14">
			<path class="_4_Class" d="M 10.99999904632568 0 L 22 14 L 0 14 Z">
			</path>
		</svg>
		<div data-type="Group" data-name="그룹 143" onclick="application.goToTargetView(event)" class="_143_Class">
			<div data-type="Text" data-name="HOME" class="HOME_Class">
				<span>HOME</span>
			</div>
			<svg data-type="Rectangle" data-name="사각형 108" class="_108">
				<rect class="_108_Class" rx="0" ry="0" x="0" y="0" width="100" height="27">
				</rect>
			</svg>
		</div>
		<div data-type="Group" data-name="그룹 144" onclick="application.goToTargetView(event)" class="_144_Class">
			<div data-type="Text" data-name="작성기사" class="_cw_Class">
				<span>작성기사</span>
			</div>
			<svg data-type="Rectangle" data-name="사각형 109" class="_109">
				<rect class="_109_Class" rx="0" ry="0" x="0" y="0" width="100" height="27">
				</rect>
			</svg>
		</div>
	</div>
	<div data-type="Symbol" data-name="Title" class="Title Title_Class">
		<div data-type="Text" data-name="AI 주식분석 플랫폼" class="AI___Class">
			<span>AI 주식분석 플랫폼</span>
		</div>
		<div data-type="Text" data-name="로그아웃" onclick="window.location.replace('/logout')" class="_cxa_Class">
			<span>로그아웃</span>
		</div>
		<div data-type="Text" data-name="고객센터" class="_cxb_Class">
			<span>고객센터</span>
		</div>
		<img data-type="Rectangle" data-name="logo2" class="logo2_Class" src="logo2.png" srcset="logo2.png 1x, logo2@2x.png 2x">
		<svg data-type="Rectangle" data-name="사각형 201" class="_201">
			<rect class="_201_Class" rx="0" ry="0" x="0" y="0" width="1" height="16">
			</rect>
		</svg>
	</div>
	<div data-type="Group" data-name="그룹 502" class="_502_Class">
		<div data-type="Group" data-name="기간" class="_cxc_Class">
			<svg data-type="Rectangle" data-name="사각형 6" class="_6">
				<rect class="_6_Class" rx="0" ry="0" x="0" y="0" width="1152" height="70">
				</rect>
			</svg>
			<svg data-type="Rectangle" data-name="사각형 8" class="_8">
				<rect class="_8_Class" rx="0" ry="0" x="0" y="0" width="147" height="70">
				</rect>
			</svg>
			<div data-type="Text" data-name="기   간" class="____Class">
				<span>기   간</span>
			</div>
			<svg data-type="Rectangle" data-name="사각형 3" class="_3">
				<rect class="_3_Class" rx="0" ry="0" x="0" y="0" width="135" height="39">
				</rect>
			</svg>
			<svg data-type="Rectangle" data-name="사각형 4" class="_4_cxh">
				<rect class="_4_cxh_Class" rx="0" ry="0" x="0" y="0" width="135" height="39">
				</rect>
			</svg>
		</div>
		<div data-type="Group" data-name="조건" class="_cxi_Class">
			<svg data-type="Rectangle" data-name="사각형 6" class="_6_cxj">
				<rect class="_6_cxj_Class" rx="0" ry="0" x="0" y="0" width="1152" height="70">
				</rect>
			</svg>
			<svg data-type="Rectangle" data-name="사각형 8" class="_8_cxk">
				<rect class="_8_cxk_Class" rx="0" ry="0" x="0" y="0" width="147" height="70">
				</rect>
			</svg>
			<div data-type="Text" data-name="조   건" class="____cxl_Class">
				<span>조   건</span>
			</div>
		</div>
		<div data-type="Repeat Grid" data-name="반복 그리드 1" class="__1_Class">
			<div data-type="Group" data-name="" class=" __1_0_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5">
					<rect class="_5_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="1주일" class="ID1_Class">
					<span>1주일</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_1_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cxr">
					<rect class="_5_cxr_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="1개월" class="ID1_cxs_Class">
					<span>1개월</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_2_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cxu">
					<rect class="_5_cxu_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="6개월" class="ID6_Class">
					<span>6개월</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_3_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cxx">
					<rect class="_5_cxx_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="1년" class="ID1_cxy_Class">
					<span>1년</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_4_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cx">
					<rect class="_5_cx_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="2년" class="ID2_Class">
					<span>2년</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_5_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cya">
					<rect class="_5_cya_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="3년" class="ID3_Class">
					<span>3년</span>
				</div>
			</div>
			<div data-type="Group" data-name="" class=" __1_6_Class">
				<svg data-type="Rectangle" data-name="사각형 5" class="_5_cyb">
					<rect class="_5_cyb_Class" rx="5" ry="5" x="0" y="0" width="56" height="39">
					</rect>
				</svg>
				<div data-type="Text" data-name="전체" class="_cx_Class">
					<span>전체</span>
				</div>
			</div>
		</div>
		<div data-type="Group" data-name="회사명" class="_cya_Class">
			<div data-type="Group" data-name="회사명" class="_cyb_Class">
				<svg data-type="Rectangle" data-name="사각형 6" class="_6_cya">
					<rect class="_6_cya_Class" rx="0" ry="0" x="0" y="0" width="1006" height="70">
					</rect>
				</svg>
				<svg data-type="Rectangle" data-name="사각형 8" class="_8_cyb">
					<rect class="_8_cyb_Class" rx="0" ry="0" x="0" y="0" width="147" height="70">
					</rect>
				</svg>
				<div data-type="Text" data-name="회사명" class="_cyc_Class">
					<span>회사명</span>
				</div>
			</div>
			<svg data-type="Rectangle" data-name="사각형 2" class="_2">
				<rect class="_2_Class" rx="0" ry="0" x="0" y="0" width="499" height="41">
				</rect>
			</svg>
			<div data-type="Group" data-name="그룹 1" class="_1_Class">
				<svg data-type="Rectangle" data-name="사각형 7" class="_7">
					<rect class="_7_Class" rx="5" ry="5" x="0" y="0" width="119" height="41">
					</rect>
				</svg>
				<div data-type="Text" data-name="회사명찾기" class="_cyg_Class">
					<span>회사명찾기</span>
				</div>
			</div>
			<svg data-type="Rectangle" data-name="사각형 9" class="_9">
				<rect class="_9_Class" rx="0" ry="0" x="0" y="0" width="19" height="19">
				</rect>
			</svg>
			<div data-type="Text" data-name="최종보고서" class="_cyi_Class">
				<span>최종보고서</span>
			</div>
		</div>
		<div data-type="Group" data-name="조건항목" class="_cyj_Class">
			<div data-type="Group" data-name="그룹 2" class="_2_cyk_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cyl" viewBox="0 0 14 14">
					<path class="_1_cyl_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="정기공시" class="_cym_Class">
					<span>정기공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 3" class="_3_cyn_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cyo" viewBox="0 0 14 14">
					<path class="_1_cyo_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="주요사항보고" class="_cyp_Class">
					<span>주요사항보고</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 4" class="_4_cyq_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cyr" viewBox="0 0 14 14">
					<path class="_1_cyr_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="발행공시" class="_cys_Class">
					<span>발행공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 5" class="_5_cyt_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cyu" viewBox="0 0 14 14">
					<path class="_1_cyu_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="지분공시" class="_cyv_Class">
					<span>지분공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 6" class="_6_cyw_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cyx" viewBox="0 0 14 14">
					<path class="_1_cyx_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="기타공시" class="_cyy_Class">
					<span>기타공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 7" class="_7_cyz_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cy" viewBox="0 0 14 14">
					<path class="_1_cy_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="외부감사관련" class="_cy_Class">
					<span>외부감사관련</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 8" class="_8_cy_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_cza" viewBox="0 0 14 14">
					<path class="_1_cza_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="펀드공시" class="_cza_Class">
					<span>펀드공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 9" class="_9_cy_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_czb" viewBox="0 0 14 14">
					<path class="_1_czb_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="자산유동화" class="_czb_Class">
					<span>자산유동화</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 10" class="_10_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_czc" viewBox="0 0 14 14">
					<path class="_1_czc_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="거래소공시" class="_czc_Class">
					<span>거래소공시</span>
				</div>
			</div>
			<div data-type="Group" data-name="그룹 11" class="_11_Class">
				<svg data-type="Path" data-name="패스 1" class="_1_czd" viewBox="0 0 14 14">
					<path class="_1_czd_Class" d="M 0 0 L 14 0 L 14 14 L 7.000003814697266 14 L 0 14 L 0 0 Z">
					</path>
				</svg>
				<div data-type="Text" data-name="공정위공시" class="_czd_Class">
					<span>공정위공시</span>
				</div>
			</div>
		</div>
		<svg data-type="Rectangle" data-name="사각형 10" class="_10_czf">
			<linearGradient id="_10_czf" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
				<stop offset="0" stop-color="#efeeee" stop-opacity="1"></stop>
				<stop offset="1" stop-color="#d6d3d3" stop-opacity="1"></stop>
			</linearGradient>
			<rect class="_10_czf_Class" rx="10" ry="10" x="0" y="0" width="139" height="70">
			</rect>
		</svg>
		<div data-type="Text" data-name="검 색" class="__Class">
			<span>검 색</span>
		</div>
		<div data-type="Text" data-name="~" class="_czh_Class">
			<span>~</span>
		</div>
		<svg data-type="Path" data-name="ic_date_range_24px" class="ic_date_range_24px" viewBox="3 2 18 20">
			<path class="ic_date_range_24px_Class" d="M 9 11 L 7 11 L 7 13 L 9 13 L 9 11 Z M 13 11 L 11 11 L 11 13 L 13 13 L 13 11 Z M 17 11 L 15 11 L 15 13 L 17 13 L 17 11 Z M 19 4 L 18 4 L 18 2 L 16 2 L 16 4 L 8 4 L 8 2 L 6 2 L 6 4 L 5 4 C 3.889999866485596 4 3.009999990463257 4.900000095367432 3.009999990463257 6 L 3 20 C 3 21.10000038146973 3.889999866485596 22 5 22 L 19 22 C 20.10000038146973 22 21 21.10000038146973 21 20 L 21 6 C 21 4.900000095367432 20.10000038146973 4 19 4 Z M 19 20 L 5 20 L 5 9 L 19 9 L 19 20 Z">
			</path>
		</svg>
		<svg data-type="Path" data-name="ic_date_range_24px" class="ic_date_range_24px_czj" viewBox="3 2 18 20">
			<path class="ic_date_range_24px_czj_Class" d="M 9 11 L 7 11 L 7 13 L 9 13 L 9 11 Z M 13 11 L 11 11 L 11 13 L 13 13 L 13 11 Z M 17 11 L 15 11 L 15 13 L 17 13 L 17 11 Z M 19 4 L 18 4 L 18 2 L 16 2 L 16 4 L 8 4 L 8 2 L 6 2 L 6 4 L 5 4 C 3.889999866485596 4 3.009999990463257 4.900000095367432 3.009999990463257 6 L 3 20 C 3 21.10000038146973 3.889999866485596 22 5 22 L 19 22 C 20.10000038146973 22 21 21.10000038146973 21 20 L 21 6 C 21 4.900000095367432 20.10000038146973 4 19 4 Z M 19 20 L 5 20 L 5 9 L 19 9 L 19 20 Z">
			</path>
		</svg>
	</div>
	<div data-type="Symbol" data-name="footer" class="footer footer_Class">
		<svg data-type="Rectangle" data-name="사각형 197" class="_197">
			<rect class="_197_Class" rx="0" ry="0" x="0" y="0" width="1920" height="104">
			</rect>
		</svg>
		<img data-type="Rectangle" data-name="logo" class="logo_Class" src="logo.png" srcset="logo.png 1x, logo@2x.png 2x">
		<div data-type="Group" data-name="그룹 523" class="_523_Class">
			<div data-type="Text" data-name="등록번호 : 서울 아02392 | 등록일 : 2012년12월18일 | 제호 : 중소기업신문 | 발행·편집인 : 신진호
주소 : 서울 강남구 언주로 556 성우빌딩 7층 | 발행일자 : 2012년12월18일 | 청소년보호책임자 : 방환미 | 대표전화 : 02)832-6115 | Fax : 02)3423-0228Copyright ⓒ 중소기업신문 . all right reserved. mail to webmaster@smedaily.co.kr  POWERED" class="___02392____20121218___________Class">
				<span>등록번호 : 서울 아02392 | 등록일 : 2012년12월18일 | 제호 : 중소기업신문 | 발행·편집인 : 신진호<br/>주소 : 서울 강남구 언주로 556 성우빌딩 7층 | 발행일자 : 2012년12월18일 | 청소년보호책임자 : 방환미 | 대표전화 : 02)832-6115 | Fax : 02)3423-0228Copyright ⓒ 중소기업신문 . all right reserved. mail to webmaster@smedaily.co.kr  POWERED BY </span>
			</div>
			<img data-type="Rectangle" data-name="kai" class="kai_Class" src="kai.png" srcset="kai.png 1x, kai@2x.png 2x">
		</div>
	</div>
	<div data-type="Text" data-name="기사작성 : 자료검색" class="___Class">
		<span>기사작성 : 자료검색</span>
	</div>
<img data-type="" data-name="" class="articlewritesearch_snapshot_Class" src="articlewritesearch_snapshot.png" srcset="articlewritesearch_snapshot.png 1x, articlewritesearch_snapshot@2x.png 2x">
</div>
</body>
</html>