<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>companylist</title>
    <link rel="stylesheet" type="text/css" id="applicationStylesheet" href="/static/css/companylist.css"/>
    <script id="applicationScript" type="text/javascript" src="companylist.js"></script>
</head>
<body>
<div id="companylist" class="companylist_Class">
    <div data-type="Text" data-name="회사이름" class="_Class">
        <span>회사이름</span>
    </div>
    <div data-type="Text" data-name="법인구분" class="_dub_Class">
        <span>법인구분</span>
    </div>
    <div data-type="Group" data-name="그룹 1" class="_1_Class">
        <svg data-type="Rectangle" data-name="사각형 7" class="_7">
            <rect class="_7_Class" rx="5" ry="5" x="0" y="0" width="119" height="38">
            </rect>
        </svg>
        <div data-type="Text" data-name="검 색" class="__Class">
            <span>검 색</span>
        </div>
    </div>
    <div data-type="Text" data-name="회사명찾기" class="_duf_Class">
        <span>회사명찾기</span>
    </div>
    <svg data-type="Path" data-name="패스 4" class="_4" viewBox="0 0 760 52">
        <path class="_4_Class" d="M 0 0 L 760 0 L 760 52.00000381469727 L 0 52.00000381469727 L 0 0 Z">
        </path>
    </svg>
    <svg data-type="Path" data-name="패스 3" class="_3" viewBox="0 0 760 3">
        <path class="_3_Class" d="M 0 0 L 760 0 L 760 3 L 0 3 L 0 0 Z">
        </path>
    </svg>
    <div data-type="Group" data-name="그룹 20" class="_20_Class">
        <svg data-type="Rectangle" data-name="사각형 14" class="_14">
            <rect class="_14_Class" rx="0" ry="0" x="0" y="0" width="75" height="38">
            </rect>
        </svg>
        <div data-type="Text" data-name="회사명" class="_duk_Class">
            <span>회사명</span>
        </div>
    </div>
    <div data-type="Group" data-name="그룹 20" class="_20_dul_Class">
        <svg data-type="Rectangle" data-name="사각형 14" class="_14_dum">
            <rect class="_14_dum_Class" rx="0" ry="0" x="0" y="0" width="75" height="38">
            </rect>
        </svg>
        <div data-type="Text" data-name="대표자명" class="_dun_Class">
            <span>대표자명</span>
        </div>
    </div>
    <div data-type="Group" data-name="그룹 20" class="_20_duo_Class">
        <svg data-type="Rectangle" data-name="사각형 14" class="_14_dup">
            <rect class="_14_dup_Class" rx="0" ry="0" x="0" y="0" width="75" height="38">
            </rect>
        </svg>
        <div data-type="Text" data-name="종목코드" class="_duq_Class">
            <span>종목코드</span>
        </div>
    </div>
    <div data-type="Group" data-name="그룹 20" class="_20_dur_Class">
        <svg data-type="Rectangle" data-name="사각형 14" class="_14_dus">
            <rect class="_14_dus_Class" rx="0" ry="0" x="0" y="0" width="75" height="38">
            </rect>
        </svg>
        <div data-type="Text" data-name="업종명" class="_dut_Class">
            <span>업종명</span>
        </div>
    </div>
    <svg data-type="Rectangle" data-name="사각형 17" class="_17">
        <rect class="_17_Class" rx="0" ry="0" x="0" y="0" width="2" height="25">
        </rect>
    </svg>
    <svg data-type="Rectangle" data-name="사각형 17" class="_17_duv">
        <rect class="_17_duv_Class" rx="0" ry="0" x="0" y="0" width="2" height="25">
        </rect>
    </svg>
    <svg data-type="Rectangle" data-name="사각형 17" class="_17_duw">
        <rect class="_17_duw_Class" rx="0" ry="0" x="0" y="0" width="2" height="25">
        </rect>
    </svg>
    <div data-type="Symbol" data-name="게시판_num" class="____num _num_Class">
        <div data-type="Repeat Grid" data-name="반복 그리드 2" class="__2_Class">
            <div data-type="Group" data-name="" class=" __2_0_Class">
                <div data-type="Text" data-name="1" class="ID1_Class">
                    <span>1</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" __2_1_Class">
                <div data-type="Text" data-name="2" class="ID2_Class">
                    <span>2</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" __2_2_Class">
                <div data-type="Text" data-name="3" class="ID3_Class">
                    <span>3</span>
                </div>
            </div>
        </div>
        <div data-type="Repeat Grid" data-name="반복 그리드 3" class="__3_Class">
            <div data-type="Group" data-name="" class=" __3_0_Class">
                <svg data-type="Rectangle" data-name="사각형 19" class="_19">
                    <rect class="_19_Class" rx="0" ry="0" x="0" y="0" width="19" height="19">
                    </rect>
                </svg>
                <div data-type="Text" data-name="<<" class="_du_Class">
                    <span><<</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" __3_1_Class">
                <svg data-type="Rectangle" data-name="사각형 19" class="_19_dva">
                    <rect class="_19_dva_Class" rx="0" ry="0" x="0" y="0" width="19" height="19">
                    </rect>
                </svg>
                <div data-type="Text" data-name="<" class="_dvb_Class">
                    <span><</span>
                </div>
            </div>
        </div>
        <div data-type="Repeat Grid" data-name="반복 그리드 4" class="__4_Class">
            <div data-type="Group" data-name="" class=" __4_0_Class">
                <svg data-type="Rectangle" data-name="사각형 19" class="_19_dve">
                    <rect class="_19_dve_Class" rx="0" ry="0" x="0" y="0" width="19" height="19">
                    </rect>
                </svg>
                <div data-type="Text" data-name=">" class="_dvf_Class">
                    <span>></span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" __4_1_Class">
                <svg data-type="Rectangle" data-name="사각형 19" class="_19_dvh">
                    <rect class="_19_dvh_Class" rx="0" ry="0" x="0" y="0" width="19" height="19">
                    </rect>
                </svg>
                <div data-type="Text" data-name=">>" class="_dvi_Class">
                    <span>>></span>
                </div>
            </div>
        </div>
    </div>
    <div data-type="Text" data-name="◎  회사명 위에 마우스를 위치시키면 기업정보 도움말이 나타납니다." class="_________Class">
        <span>◎  회사명 위에 마우스를 위치시키면 기업정보 도움말이 나타납니다.</span>
    </div>
    <svg data-type="Rectangle" data-name="사각형 15" class="_15">
        <rect class="_15_Class" rx="0.5" ry="0.5" x="0" y="0" width="760" height="1">
        </rect>
    </svg>
    <svg data-type="Rectangle" data-name="사각형 25" class="_25">
        <rect class="_25_Class" rx="0" ry="0" x="0" y="0" width="318" height="2">
        </rect>
    </svg>
    <svg data-type="Rectangle" data-name="사각형 181" class="_181">
        <rect class="_181_Class" rx="0" ry="0" x="0" y="0" width="239" height="2">
        </rect>
    </svg>
    <svg data-type="Path" data-name="ic_apps_24px" class="ic_apps_24px" viewBox="10 4 10 10">
        <path class="ic_apps_24px_Class"
              d="M 16 4 L 16 8 L 20 8 L 20 4 L 16 4 Z M 10 8 L 14 8 L 14 4 L 10 4 L 10 8 Z M 16 14 L 20 14 L 20 10 L 16 10 L 16 14 Z">
        </path>
    </svg>
    <svg data-type="Path" data-name="ic_apps_24px" class="ic_apps_24px_dvo" viewBox="10 4 10 10">
        <path class="ic_apps_24px_dvo_Class"
              d="M 16 4 L 16 8 L 20 8 L 20 4 L 16 4 Z M 10 8 L 14 8 L 14 4 L 10 4 L 10 8 Z M 16 14 L 20 14 L 20 10 L 16 10 L 16 14 Z">
        </path>
    </svg>
    <div data-type="Text" data-name="회사명을 입력하세요." class="__dvp_Class">
        <span>회사명을 입력하세요.</span>
    </div>
    <svg data-type="Path" data-name="ic_expand_more_24px" class="ic_expand_more_24px" viewBox="6 8.59 12 7.41">
        <path class="ic_expand_more_24px_Class"
              d="M 16.59000015258789 8.590000152587891 L 12 13.17000007629395 L 7.409999847412109 8.590000152587891 L 6 10 L 12 16 L 18 10 L 16.59000015258789 8.590000152587891 Z">
        </path>
    </svg>
    <svg data-type="ScrollableGroup" data-name="스크롤 그룹 2" class="__2_dvr" viewBox="0 -4 112 25">
        </null>
    </svg>
    <div data-type="Repeat Grid" data-name="반복 그리드 12" class="__12_Class">
        <div data-type="Group" data-name="" class=" __12_0_Class">
            <div data-type="Text" data-name="전체            " class="_____________Class">
                <span>전체            </span>
            </div>
        </div>
        <div data-type="Group" data-name="" class=" __12_1_Class">
            <div data-type="Text" data-name="유가증권시장" class="_dvw_Class">
                <span>유가증권시장</span>
            </div>
        </div>
        <div data-type="Group" data-name="" class=" __12_2_Class">
            <div data-type="Text" data-name="코스닥시장" class="_dvy_Class">
                <span>코스닥시장</span>
            </div>
        </div>
        <div data-type="Group" data-name="" class=" __12_3_Class">
            <div data-type="Text" data-name="코넥스시장" class="_dv_Class">
                <span>코넥스시장</span>
            </div>
        </div>
        <div data-type="Group" data-name="" class=" __12_4_Class">
            <div data-type="Text" data-name="기타법인" class="_dwa_Class">
                <span>기타법인</span>
            </div>
        </div>
    </div>
    <div data-type="Text" data-name="[1/1] [총 234건]" class="ID11__234_Class">
        <span>[1/1] [총 234건]</span>
    </div>
    <div data-type="Group" data-name="그룹 519" class="_519_Class">
        <div data-type="Group" data-name="그룹 155" class="_155_Class">
            <svg data-type="Rectangle" data-name="사각형 26" class="_26">
                <rect class="_26_Class" rx="11" ry="11" x="0" y="0" width="130" height="48">
                </rect>
            </svg>
            <div data-type="Text" data-name="확 인" class="__dv_Class">
                <span>확 인</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 154" class="_154_Class">
            <svg data-type="Rectangle" data-name="사각형 26" class="_26_dv">
                <rect class="_26_dv_Class" rx="11" ry="11" x="0" y="0" width="130" height="48">
                </rect>
            </svg>
            <div data-type="Text" data-name="취 소" class="__dwa_Class">
                <span>취 소</span>
            </div>
        </div>
    </div>
    <svg data-type="ScrollableGroup" data-name="스크롤 그룹 3" class="__3_dwb" viewBox="0 0 760 459">
        </null>
    </svg>
    <div data-type="Group" data-name="그룹 520" class="_520_Class">
        <div data-type="Group" data-name="그룹 504" class="_504_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18">
                <rect class="_18_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="코" class="_dwf_Class">
                <span>코</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 507" class="_507_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_dwh">
                <rect class="_18_dwh_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="유" class="_dwi_Class">
                <span>유</span>
            </div>
        </div>
        <div data-type="Repeat Grid" data-name="board_list" class="board_list_Class">
            <div data-type="Group" data-name="" class=" board_list_0_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dwl">
                    <rect class="_15_dwl_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dwm_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dwn_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_1_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dwr">
                    <rect class="_15_dwr_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dws_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="김창수" class="_dwt_Class">
                    <span>김창수</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dwu_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dwv_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_2_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dwx">
                    <rect class="_15_dwx_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dwy_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="김영준, 허성우" class="__dwz_Class">
                    <span>김영준, 허성우</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dw_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dw_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_3_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dw">
                    <rect class="_15_dw_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dw_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxa_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dxa_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dxa_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_4_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dxa">
                    <rect class="_15_dxa_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dxb_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxc_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dxc_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dxd_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_5_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dxf">
                    <rect class="_15_dxf_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dxg_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxh_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dxi_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dxj_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_6_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dxl">
                    <rect class="_15_dxl_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dxm_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxn_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dxo_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dxp_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_7_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dxr">
                    <rect class="_15_dxr_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dxs_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxt_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dxu_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dxv_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_8_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dxx">
                    <rect class="_15_dxx_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dxy_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dxz_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dx_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dx_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_9_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dx">
                    <rect class="_15_dx_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dx_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dya_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dya_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dya_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_10_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dya">
                    <rect class="_15_dya_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dyb_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dyc_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dyc_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dyd_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_11_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dyf">
                    <rect class="_15_dyf_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dyg_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dyh_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dyi_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dyj_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_12_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dyl">
                    <rect class="_15_dyl_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dym_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dyn_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dyo_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dyp_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_13_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dyr">
                    <rect class="_15_dyr_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dys_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dyt_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dyu_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dyv_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_14_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dyx">
                    <rect class="_15_dyx_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dyy_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dyz_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dy_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dy_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_15_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dy">
                    <rect class="_15_dy_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dy_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dza_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dza_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dza_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_16_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dza">
                    <rect class="_15_dza_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dzb_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dzc_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dzc_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dzd_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
            <div data-type="Group" data-name="" class=" board_list_17_Class">
                <svg data-type="Rectangle" data-name="사각형 15" class="_15_dzf">
                    <rect class="_15_dzf_Class" rx="0" ry="0" x="0" y="0" width="760" height="1">
                    </rect>
                </svg>
                <div data-type="Text" data-name="삼성전자" class="_dzg_Class">
                    <span>삼성전자</span>
                </div>
                <div data-type="Text" data-name="미합중국인조경구" class="_dzh_Class">
                    <span>미합중국인조경구</span>
                </div>
                <div data-type="Text" data-name="007700" class="ID007700_dzi_Class">
                    <span>007700</span>
                </div>
                <div data-type="Text" data-name="그 외 기타 분류 안된 금융업" class="______dzj_Class">
                    <span>그 외 기타 분류 안된 금융업</span>
                </div>
            </div>
        </div>
        <svg data-type="Rectangle" data-name="사각형 178" class="_178">
            <rect class="_178_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 182" class="_182">
            <rect class="_182_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 183" class="_183">
            <rect class="_183_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 184" class="_184">
            <rect class="_184_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 185" class="_185">
            <rect class="_185_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 186" class="_186">
            <rect class="_186_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 187" class="_187">
            <rect class="_187_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 188" class="_188">
            <rect class="_188_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 189" class="_189">
            <rect class="_189_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 190" class="_190">
            <rect class="_190_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <svg data-type="Rectangle" data-name="사각형 191" class="_191">
            <rect class="_191_Class" rx="0" ry="0" x="0" y="0" width="13" height="13">
            </rect>
        </svg>
        <div data-type="Group" data-name="그룹 512" class="_512_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_dzw">
                <rect class="_18_dzw_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_dzx_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 513" class="_513_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_dzz">
                <rect class="_18_dzz_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_dz_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 514" class="_514_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_dz">
                <rect class="_18_dz_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_da_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 515" class="_515_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_da">
                <rect class="_18_da_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_db_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 516" class="_516_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_db">
                <rect class="_18_db_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_dc_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 517" class="_517_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_dc">
                <rect class="_18_dc_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_dd_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Group" data-name="그룹 518" class="_518_Class">
            <svg data-type="Rectangle" data-name="사각형 18" class="_18_de">
                <rect class="_18_de_Class" rx="8" ry="8" x="0" y="0" width="24" height="24">
                </rect>
            </svg>
            <div data-type="Text" data-name="기" class="_df_Class">
                <span>기</span>
            </div>
        </div>
        <div data-type="Symbol" data-name="구성 요소 15 – 3" class="______15___3 __15__3_Class">
            <svg data-type="Path" data-name="패스 386" class="_386" viewBox="0 0 24 24">
                <path class="_386_Class"
                      d="M 8 0 L 16 0 C 20.41827774047852 0 24 3.581721782684326 24 8 L 24 16 C 24 20.41827774047852 20.41827774047852 24 16 24 L 8 24 C 3.581721782684326 24 0 20.41827774047852 0 16 L 0 8 C 0 3.581721782684326 3.581721782684326 0 8 0 Z">
                </path>
            </svg>
            <div data-type="Text" data-name="코" class="_di_Class">
                <span>코</span>
            </div>
        </div>
    </div>
    <img data-type="" data-name="" class="companylist_snapshot_Class" src="companylist_snapshot.png"
         srcset="companylist_snapshot.png 1x, companylist_snapshot@2x.png 2x">
</div>
</body>
</html>