{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>pwreset03</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="pwreset03.css"/>
<script id="applicationScript" type="text/javascript" src="pwreset03.js"></script>
</head>
<body>
<div id="pwreset03" onclick="application.goBack()" class="pwreset03_Class">
	<div data-type="Group" data-name="그룹 1" class="_1_Class">
		<svg data-type="Rectangle" data-name="사각형 7" class="_7">
			<rect class="_7_Class" rx="0" ry="0" x="0" y="0" width="119" height="38">
			</rect>
		</svg>
		<div data-type="Text" data-name="인증번호요청" class="_Class">
			<span>인증번호요청</span>
		</div>
	</div>
	<div data-type="Group" data-name="그룹 542" class="_542_Class">
		<svg data-type="Rectangle" data-name="사각형 7" class="_7_czx">
			<rect class="_7_czx_Class" rx="0" ry="0" x="0" y="0" width="119" height="38">
			</rect>
		</svg>
		<div data-type="Text" data-name="확  인" class="___Class">
			<span>확  인</span>
		</div>
	</div>
	<div data-type="Text" data-name="비밀번호 재설정" class="__Class">
		<span>비밀번호 재설정</span>
	</div>
	<div data-type="Group" data-name="그룹 519" class="_519_Class">
		<div data-type="Group" data-name="그룹 155" class="_155_Class">
			<svg data-type="Rectangle" data-name="사각형 26" class="_26">
				<rect class="_26_Class" rx="11" ry="11" x="0" y="0" width="130" height="48">
				</rect>
			</svg>
			<div data-type="Text" data-name="수 정" class="__cz_Class">
				<span>수 정</span>
			</div>
		</div>
		<div data-type="Group" data-name="그룹 154" class="_154_Class">
			<svg data-type="Rectangle" data-name="사각형 26" class="_26_cz">
				<rect class="_26_cz_Class" rx="11" ry="11" x="0" y="0" width="130" height="48">
				</rect>
			</svg>
			<div data-type="Text" data-name="취 소" class="__ca_Class">
				<span>취 소</span>
			</div>
		</div>
	</div>
	<div data-type="Group" data-name="그룹 543" class="_543_Class">
		<div data-type="Text" data-name="아 이 디" class="___cz_Class">
			<span>아 이 디</span>
		</div>
		<div data-type="Text" data-name="등록 이메일 입력" class="___ca_Class">
			<span>등록 이메일 입력</span>
		</div>
		<svg data-type="Rectangle" data-name="사각형 25" class="_25">
			<rect class="_25_Class" rx="0" ry="0" x="0" y="0" width="367" height="2">
			</rect>
		</svg>
	</div>
	<div data-type="Group" data-name="그룹 545" class="_545_Class">
		<div data-type="Text" data-name="휴대전화번호" class="_cc_Class">
			<span>휴대전화번호</span>
		</div>
		<div data-type="Text" data-name="인증번호를 입력해 주세요." class="___cd_Class">
			<span>인증번호를 입력해 주세요.</span>
		</div>
		<svg data-type="Rectangle" data-name="사각형 25" class="_25_ce">
			<rect class="_25_ce_Class" rx="0" ry="0" x="0" y="0" width="367" height="2">
			</rect>
		</svg>
	</div>
	<div data-type="Group" data-name="그룹 547" class="_547_Class">
		<div data-type="Text" data-name="인증번호" class="_cg_Class">
			<span>인증번호</span>
		</div>
		<div data-type="Text" data-name="6자리를 입력해 주세요." class="ID6___Class">
			<span>6자리를 입력해 주세요.</span>
		</div>
		<svg data-type="Rectangle" data-name="사각형 25" class="_25_ci">
			<rect class="_25_ci_Class" rx="0" ry="0" x="0" y="0" width="367" height="2">
			</rect>
		</svg>
	</div>
	<div data-type="Group" data-name="그룹 549" class="_549_Class">
		<div data-type="Text" data-name="신규 비밀번호" class="__ck_Class">
			<span>신규 비밀번호</span>
		</div>
		<div data-type="Text" data-name="6자리 이상 입력해 주세요." class="ID6____Class">
			<span>6자리 이상 입력해 주세요.</span>
		</div>
		<svg data-type="Rectangle" data-name="사각형 25" class="_25_cm">
			<rect class="_25_cm_Class" rx="0" ry="0" x="0" y="0" width="367" height="2">
			</rect>
		</svg>
	</div>
	<div data-type="Group" data-name="그룹 551" class="_551_Class">
		<div data-type="Text" data-name="비밀번호 확인" class="__co_Class">
			<span>비밀번호 확인</span>
		</div>
		<div data-type="Text" data-name="8자리 이상 입력" class="ID8___Class">
			<span>8자리 이상 입력</span>
		</div>
		<svg data-type="Rectangle" data-name="사각형 25" class="_25_cq">
			<rect class="_25_cq_Class" rx="0" ry="0" x="0" y="0" width="367" height="2">
			</rect>
		</svg>
	</div>
	<div data-type="Text" data-name="비밀번호 재설정합니다.  아이디, 휴대전화번호, 인증번호를 정확히 입력해 주십시오." class="__________Class">
		<span>비밀번호 재설정합니다.  아이디, 휴대전화번호, 인증번호를 정확히 입력해 주십시오.</span>
	</div>
	<div data-type="Text" data-name="인증번호를 전송하였습니다." class="__cs_Class">
		<span>인증번호를 전송하였습니다.</span>
	</div>
	<div data-type="Text" data-name="확인 되었습니다." class="__ct_Class">
		<span>확인 되었습니다.</span>
	</div>
	<div data-type="Text" data-name="확인 되었습니다." class="__cu_Class">
		<span>확인 되었습니다.</span>
	</div>
	<div data-type="Text" data-name="비밀번호는 특수문자, 영문자, 숫자를 포함 6자 이상으로 합니다." class="_____6___Class">
		<span>비밀번호는 특수문자, 영문자, 숫자를 포함 6자 이상으로 합니다.</span>
	</div>
	<svg data-type="Rectangle" data-name="사각형 217" class="_217">
		<rect class="_217_Class" rx="0" ry="0" x="0" y="0" width="591" height="637">
		</rect>
	</svg>
	<div data-type="Group" data-name="그룹 555" onclick="application.goToTargetView(event)" class="_555_Class">
		<svg data-type="Rectangle" data-name="사각형 216" class="_216">
			<rect class="_216_Class" rx="0" ry="0" x="0" y="0" width="353" height="162">
			</rect>
		</svg>
		<div data-type="Text" data-name="비밀번호가 재설정되었습니다." class="__c_Class">
			<span>비밀번호가 재설정되었습니다.</span>
		</div>
		<div data-type="Group" data-name="그룹 554" class="_554_Class">
			<div data-type="Group" data-name="그룹 155" class="_155_c_Class">
				<svg data-type="Rectangle" data-name="사각형 26" class="_26_c">
					<rect class="_26_c_Class" rx="11" ry="11" x="0" y="0" width="91" height="33">
					</rect>
				</svg>
				<div data-type="Text" data-name="확인" class="_c_Class">
					<span>확인</span>
				</div>
			</div>
		</div>
	</div>
<img data-type="" data-name="" onclick="application.goBack()" class="pwreset03_snapshot_Class" src="pwreset03_snapshot.png" srcset="pwreset03_snapshot.png 1x, pwreset03_snapshot@2x.png 2x">
</div>
</body>
</html>