{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>dart popup</title>
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="dart_popup.css"/>
<script id="applicationScript" type="text/javascript" src="dart_popup.js"></script>
</head>
<body>
<div id="dart_popup" onclick="application.goBack()" class="dart_popup_Class">
	<div data-type="Text" data-name="http://dart.fss.or.kr/dsaf001/main.do?rcpNo=" class="httpdartfssorkrdsaf001maindorc_Class">
		<span>http://dart.fss.or.kr/dsaf001/main.do?rcpNo=</span>
	</div>
<img data-type="" data-name="" onclick="application.goBack()" class="dart_popup_snapshot_Class" src="dart_popup_snapshot.png" srcset="dart_popup_snapshot.png 1x, dart_popup_snapshot@2x.png 2x">
</div>
</body>
</html>